@import "../shared/index.scss";

.our_heritage {
  margin: 0 2rem;
  margin-bottom: 4.5rem;
}

.our_heritage_summary {
  @include body;
  margin-bottom: 1rem;
}

.about_heading {
  display: flex;
  flex-direction: column;
  @include h2;
  margin: 0;
  margin-bottom: 2rem;
}

.our_leaders {
  margin: 0 2rem;
  margin-bottom: 8.25rem;
}
