@import "../shared/index.scss";

.leader_card {
  position: relative;
}

.leader_card_image {
  position: relative;

  @media screen and (min-width: $laptop) {
    cursor: pointer;
  }
}

.leader_card_image_overlay {
  display: none;
}

.leader_card_image:hover > .leader_card_image_overlay {
  @media screen and (min-width: $laptop) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}

.leader_card_icons_desktop {
  display: flex;
  filter: invert(92%) sepia(100%) saturate(34%) hue-rotate(66deg)
    brightness(112%) contrast(100%);
}

.leader_card_name {
  @include h3;
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

.leader_card_title {
  @include body;
  margin: 0;
  margin-bottom: 0.5rem;
}

.leader_card_icons {
  display: flex;

  @media screen and (min-width: $laptop) {
    display: none;
  }
}

.linkedin_icon {
  margin-right: 1.5rem;
}
